<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>com.dmx-web.server</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/dmx-web</string>
            <string>-c</string>
            <string>/Library/Server/DMX/dmx-web.json</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Library/Logs/homebridge/dmxlogfile.log</string>
        <key>StandardErrorPath</key>
        <string>/Library/Logs/homebridge/dmxlogfile.log</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/usr/local/bin/:$PATH</string>
        </dict>
    </dict>
</plist>
